<script>
    // 현재 행
    var choice = null;

    // 현재 페이지
    var choicePage = 0;

    $(document).ready(function(){

        $('#frDt').val(new Date().toISOString().substring(0, 10))
        $('#toDt').val(new Date().toISOString().substring(0, 10))

        // 조회
        $('#searchPage').click(function(){
            searchPage(0);
        });
    });

    // 조회
    function searchPage(pages) {
        if(!$('#bookHopeStatus').val()) {
            alert('상태를 입력해주세요');
            return false;
        }

        if(!$('#frDt').val()) {
            alert('시작일자를 입력해주세요');
            return false;
        }

        if(!$('#toDt').val()) {
            alert('종료일자를 입력해주세요');
            return false;
        }

        $.ajax({
            type: "GET"
          , url : "/api/v1/admin/hope/search"
          , data : {
                bookHopeStatus : $('#bookHopeStatus').val()
                , frDt : $('#frDt').val().replace(/-/gi, "")
                , toDt : $('#toDt').val().replace(/-/gi, "")
                , search : $('#search').val()
                , page : pages
          }
          , dataType: "json"
          , success : function(data) {
            if(data != null) {
                let str = '';
                let str2 = '';

                for(let i=0; i<data.result.content.length; i++) {
                    str += '<tr ';
                    str += ' data-hopeid="' + data.result.content[i].hopeId + '"';
                    str += '> ';

                    str += '<th scope="col"> ';
                    str += i + 1 + (10 * data.result.number);
                    str += '</th> ';

                    str += '<td>';
                    str += data.result.content[i].user.userId;
                    str += '</td>';

                    str += '<td>';
                    str += data.result.content[i].hopeIsbn;
                    str += '</td>';

                    str += '<td>';
                    str += data.result.content[i].hopeTitle;
                    str += '</td>';

                    str += '<td>';
                    str += data.result.content[i].hopeAuthor;
                    str += '</td>';

                    str += '<td>';
                    str += data.result.content[i].hopePublisher;
                    str += '</td>';

                    let hopeDate = data.result.content[i].hopeDate;

                    str += '<td>';
                    str += hopeDate.substr(0,4) + '-' + hopeDate.substr(4,2) + '-' + hopeDate.substr(6,2);
                    str += '</td>';

                    let status = '';
                    let imp = '';

                    switch(data.result.content[i].hopeStatus) {
                        case 'REQUEST' :
                            status = '<button type="button" class="btn btn-primary btn-sm hope-status" data-value="CHECK">확인</button>';
                            break;
                        case 'CANCEL' :
                            status = '취소';
                            imp = 'disabled';
                            break;
                        case 'CHECK' :
                            status = '<button type="button" class="btn btn-primary btn-sm hope-status" data-value="COMPLETE">완료</button>';
                            break;
                        case 'COMPLETE' :
                            status = '완료';
                            imp = 'disabled';
                            break;
                        case 'IMPOSSIBLE' :
                            status = '불가능';
                            imp = 'disabled';
                            break;
                        default :
                            status = '확인필요';
                            break;
                    }

                    str += '<td>';
                    str += status;
                    str += '</td>';

                    str += '<td>';
                    str += imp = '<button type="button" class="btn btn-primary btn-sm hope-status" data-value="IMPOSSIBLE" ' + imp + '>불가</button>';
                    str += '</td>';

                    str += '</tr> ';
                }

                str2 += '<div class="page_wrap"> ';
                str2 += '  <div class="page_nation"> ';
                str2 += '    <a class="arrow pprev">First</a> ';
                str2 += '    <a class="arrow prev">&lt;</a> ';

                for(let i=(Math.floor(pages / 10) * 10);
                i<(Math.floor(pages / 10) * 10 + 10 > data.result.totalPages ? data.result.totalPages : Math.floor(pages / 10) * 10 + 10);
                i++) {
                  if(i == pages) {
                    str2 += '<a class="active">' + (i+1) + '</a>';
                  } else {
                    str2 += '<a class="pageNum" data-num=' + i + '>' + (i+1) + '</a>';
                  }
                }

                str2 += '    <a class="arrow next">&gt;</a> ';
                str2 += '    <a class="arrow nnext">Last</a> ';
                str2 += '  </div> ';
                str2 += '</div> ';

                console.log(str);

                $('table > tbody').html(str);
                $('#page').html(str2);
                choice = null;
                choicePage = pages;

                if(data.result.totalPages  <= 0) {
                    return false;
                }

                // 숫자 페이지
                $('.pageNum').click(function(){
                    searchPage($(this).data('num'));
                });

                // 이전 10 페이지
                $('.prev').click(function(){
                    if(pages == 0) {
                        alert('처음 페이지 입니다');
                    } else {
                        searchPage(pages-1);
                    }
                });

                // 이후 10 페이지
                $('.next').click(function(){
                    if(pages == data.result.totalPages-1) {
                        alert('마지막 페이지 입니다');
                    } else {
                         searchPage(pages+1);
                    }
                });

                // 맨 처음
                $('.pprev').click(function(){
                    searchPage(0);
                });

                // 맨 끝
                $('.nnext').click(function(){
                    searchPage(data.result.totalPages-1);
                });

                // 행 선택
                $('table > tbody > tr').click(function(){
                    if(choice != $(this)) {
                        choiceHover($(this));
                        choiceChange($(this));
                    }
                });

                $('.hope-status').click(function() {
                    statusUpdate($(this).parent().parent().data('hopeid'), $(this).data('value'));
                });
            } else {
                alert('조회가 실패하였습니다');
            }
          }
          , beforeSend:function(){
              $('.wrap-loading').removeClass('display-none');
          }
          , complete:function(){
              $('.wrap-loading').addClass('display-none');
          }
          , error : function(e) {
            alert('조회가 실패하였습니다');
          }
        });
    }

    // 행 선택
    function choiceHover(thiss) {
        $('.hover').removeClass('hover');
        thiss.addClass('hover');
    }

    // 행 변경
    function choiceChange(thiss) {
        choice = thiss;
    }

    function statusUpdate(id, status) {
        if(!confirm("상태를 변경하시겠습니까?")) {
            return false;
        }

        $.ajax({
            type: "POST"
          , url : "/api/v1/admin/hope/update"
          , data : {
              id : id
            , status : status
          }
          , dataType: "json"
          , success : function(data) {
            if(data != null) {
                if(data.success == 'Y') {
                    searchPage(choicePage);
                }
            } else {
                alert('상태변경이 실패하였습니다');
            }
          }
          , beforeSend:function(){
              $('.wrap-loading').removeClass('display-none');
          }
          , complete:function(){
              $('.wrap-loading').addClass('display-none');
          }
          , error : function(e) {
            alert('상태변경이 실패하였습니다');
          }
        });
    }
</script>
<div>
    <div style="padding-top:5px;">
        <button type="button" class="btn btn-primary" id="searchPage">조회</button>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="search">검색</label>
                <input type="search" id="search" class="form-control rounded" placeholder="책 제목 및 ISBN 검색" aria-label="Search" aria-describedby="search-addon" />
            </div>
            <div class="col-md-3 mb-3">
                <label for="frDt">시작일자</label>
                <input type="date" class="form-control" id="frDt">
            </div>
            <div class="col-md-3 mb-3">
                <label for="toDt">종료일자</label>
                <input type="date" class="form-control" id="toDt">
            </div>
            <div class="col-md-3 mb-3">
                <label for="bookHopeStatus">상태</label>
                <select class="form-select" id="bookHopeStatus" name="bookHopeStatus">
                    <option value="REQUEST" selected>요청</option>
                    <option value="CANCEL">취소</option>
                    <option value="CHECK">확인</option>
                    <option value="COMPLETE">완료</option>
                    <option value="IMPOSSIBLE">불가</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="10%">No</th>
            <th scope="col" width="15%">신청자</th>
            <th scope="col" width="14%">ISBN</th>
            <th scope="col" width="14%">제목</th>
            <th scope="col" width="12%">작가</th>
            <th scope="col" width="13%">출판사</th>
            <th scope="col" width="9%">신청일자</th>
            <th scope="col" width="7%">신청상태</th>
            <th scope="col" width="6%">불가능</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="page"></div>
</div>

