<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원가입</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
          min-height: 100vh;
        }

        .input-form {
          max-width: 680px;

          margin-top: 80px;
          margin-bottom: 80px;
          padding: 32px;

          background: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>
<body>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form class="validation-form" id="joinForm" action="/user/join" method="post" novalidate>
                <div class="mb-3">
                    <label for="userId">이메일</label>
                    <div class="center">
                        <div class="col-md-7">
                            <input type="email" class="form-control" id="userId" name="userId" placeholder="예) example@naver.com" required>
                            <input type="hidden" id="userIdCheckYn" value="">
                        </div>
                        <div class="inline-block">
                            <button type="button" class="btn btn-primary margin-left" id="userIdCheck">중복체크</button>
                            <button type="button" class="btn btn-primary margin-left display-none" id="emailCertification">이메일 인증</button>
                        </div>
                    </div>
                </div>

                <div class="row display-none" id="emailCheckDiv">
                    <div class="mb-3">
                        <label for="email-check">인증번호</label>
                        <div class="inline-block margin-left blue-bold-text" id="timer">
                        </div>
                        <div class="center">
                            <div class="inline-block col-md-6">
                                <input type="text" class="form-control" id="email-check" placeholder="인증번호를 입력해주세요" required>
                                <input type="hidden" id="email-number">
                            </div>
                            <div class="inline-block">
                                <button type="button" class="btn btn-primary margin-left" id="email-confirm">확인</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="userPassword">비밀번호</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="사용할 비밀번호를 입력해주세요" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="userPasswordCheck">비밀번호 확인</label>
                        <input type="password" class="form-control" id="userPasswordCheck" placeholder="비밀번호를 다시 한 번 입력해주세요" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="userName">이름</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="이름을 입력해주세요" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="userBirth">생년월일</label>
                        <input type="text" class="form-control" id="userBirth" name="userBirth" placeholder="예) 980102"
                               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="userSex">성별</label>
                        <select class="form-select" id="userSex" name="userSex">
                            <option selected value="M">남</option>
                            <option value="W">여</option>
                        </select>
                    </div>
                </div>

                <hr class="mb-4">

                <div class="mb-4"></div>
                <button class="btn btn-primary btn-lg btn-block" id="confirm">가입 완료</button>
            </form>
        </div>
    </div>
</div>
<div class="wrap-loading display-none">
    <div><img src="/img/loading.gif"></div>
</div>
</body>
<script>
    $(document).ready(function(){
      // 이메일 중복 체크
      $('#userIdCheck').click(function(){
        let email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
        let email = $('#userId').val()

        if(!email) {
            alert("이메일을 입력해주세요");
            return false;
        }

        if(!email_regex.test(email)){
            alert("이메일 형식이 맞지 않습니다");
            return false;
        }

        $.ajax({
            type: "GET"
          , url : "/api/user/join/" + $('#userId').val()
          , dataType: "json"
          , success : function(data) {
            if(data.success == 'Y') {
                $('#userIdCheckYn').val(data.success);
                $('#userId').prop('readonly', true);
                $('#userIdCheck').attr('disabled',true);
                $('#emailCertification').removeClass('display-none');

                alert(data.message);
            } else {
                alert(data.message);
            }
          }
          , beforeSend:function(){
              $('.wrap-loading').removeClass('display-none');
          }
          , complete:function(){
              $('.wrap-loading').addClass('display-none');
          }
          , error : function(e) {
            alert('이메일 중복체크가 실패했습니다');
          }
        });
      });

      // 이메일 인증
      $('#emailCertification').click(function() {
          $.ajax({
              type: "GET"
            , url : "/email/check/" + $('#userId').val()
            , dataType: "json"
            , success : function(data) {
               if(data.check) {
                $('#email-number').val(data.check);
                $('#emailCheckDiv').removeClass('display-none');
                fn_timer();
               } else {
                alert('인증이 실패했습니다');
               }
            }
            , beforeSend:function(){
                $('.wrap-loading').removeClass('display-none');
            }
            , complete:function(){
                $('.wrap-loading').addClass('display-none');
            }
            , error : function(e) {
              alert('인증이 실패했습니다');
            }
          });
      });

      // 이메일 인증 확인
      $('#email-confirm').click(function() {
        let check = $('#email-check').val();

        if(check) {
            if(check == $('#email-number').val()) {
                alert('인증이 완료되었습니다');
                $('#email-number').val('success');
                $('#emailCheckDiv').addClass('display-none');
                $('#emailCertification').attr('disabled',true);
            } else if(check == 'timeout') {
                alert('시간이 초과하였습니다');
            } else {
                alert('인증 번호가 맞지 않습니다');
            }
        } else {
            alert('인증번호를 입력해주세요');
        }
      });

      // 가입 완료
      $('#confirm').click(function(){
        if(!$('#userId').val()) {
            alert("이메일을 입력해주세요");
            return false;
        }

        if(!$('#userIdCheckYn').val()) {
            alert("이메일 중복 체크를 진행해주세요");
            return false;
        }

        if($('#email-number').val() != 'success') {
            alert("이메일 인증을 진행해주세요");
            return false;
        }

        if(!$('#userPassword').val() || !$('#userPasswordCheck').val()) {
            alert("비밀번호를 입력해주세요");
            return false;
        }

        if($('#userPassword').val() != $('#userPasswordCheck').val()) {
            alert("비밀번호를 확인해주세요");
            return false;
        }

        if(!$('#userName').val()) {
            alert("이름을 입력해주세요");
            return false;
        }

        if(!$('#userBirth').val()) {
            alert("생년월일을 입력해주세요");
            return false;
        }

        if($('#userBirth').val().length != 6) {
            alert("생년월일은 6자리로 입력해주세요");
            return false;
        }

        $('#joinForm').submit();
      });
   });

   // 이메일 인증 타이머
   function fn_timer() {
     let time = 300;
     let min = "";
     let sec = "";
     let timer = document.getElementById('timer');
     let emailNumber = document.getElementById('email-number');

     let x = setInterval(function() {
       min = String(parseInt(time/60)).padStart(2, "0");
       sec = String(time%60).padStart(2, "0");

       timer.innerHTML = min + ':' + sec;
       time--;

       if(time < 0) {
         clearInterval(x);
         timer.innerHTML = '시간초과';
         emailNumber.value = 'timeout';
       } else if(emailNumber.value == 'success') {
         clearInterval(x);
       }
     }, 1000);
   }
</script>
</html>