<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/CommonHead :: commonHead(~{::meta},~{::script},~{::link},~{::style})}">
    <meta>
    <link>
    <style>
        /*tab css*/
        .tab ul,li {list-style:none;}
        .tab{float:left; width:100%; height:100%;}
        .tabnav{font-size:0; width:100%; border:1px solid #ddd; padding:0px;}
        .tabnav li{display: inline-block;  height:46px; text-align:center; border-right:1px solid #ddd; }
        .tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
        .tabnav li a.active:before{background:#777A7C;}
        .tabnav li a.active{border-bottom:1px solid #fff;}
        .tabnav li a{ position:relative; display:block; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
        .tabnav li a:hover,
        .tabnav li a.active{background:#777A7C; color:white; }
        .tabcontent{padding: 20px; height:100%; border:1px solid #ddd; border-top:none;}
    </style>
    <script th:inline="javascript">

        $(document).ready(function(){

            if([[${param.overlap}]]) {
                alert('좋아요는 한번만 가능합니다');
            }

            if([[${param.msg}]] == 'userLoanCntOver') {
                alert('대출 가능 권수를 초과하셨습니다.');
            } else if([[${param.msg}]] == 'loanOverlap') {
                alert('이미 대출 또는 예약 중인 책입니다.');
            } else if([[${param.msg}]] == 'bookLoanCntOver') {
                alert('대출 가능 권수가 존재하지 않습니다.');
            } else if([[${param.msg}]] == 'success'){
                alert('대출이 완료되었습니다.');
            }

            if([[${param.msg2}]] == 'reserveLoan') {
                alert('대출을 이용해주세요.');
            } else if([[${param.msg2}]] == 'reserveOverlap') {
                alert('이미 대출 또는 예약 중인 책입니다.');
            } else if([[${param.msg2}]] == 'bookReserveCntOver') {
                alert('예약 가능 권수가 존재하지 않습니다.');
            } else if([[${param.msg2}]] == 'success'){
                alert('예약이 완료되었습니다.');
            }

            $('.tabcontent > div').hide();
            $('.tabnav a').click(function () {
                $('.tabcontent > div').hide().filter(this.hash).fadeIn();
                $('.tabnav a').removeClass('active');
                $(this).addClass('active');
                return false;
            }).filter(':eq(0)').click();

            $('#like').click(function() {
                if(!confirm("좋아요를 하시겠습니까?")) {
                    return false;
                }

                $('.wrap-loading').removeClass('display-none');
                $('#likeData').submit();
            });

            $('#likeCancel').click(function() {
                if(!confirm("좋아요를  취소하시겠습니까?")) {
                    return false;
                }

                $('.wrap-loading').removeClass('display-none');
                $('#likeCancelData').submit();
            });

            $('#loan').click(function() {
                if(!confirm("대출을 진행하시겠습니까?")) {
                    return false;
                }

                $('.wrap-loading').removeClass('display-none');
                $('#loanData').submit();
            });

            $('#reserve').click(function() {
                if(!confirm("예약을 진행하시겠습니까?")) {
                    return false;
                }

                $('.wrap-loading').removeClass('display-none');
                $('#reserveData').submit();
            });
        });
    </script>
</head>
<body>
<header th:replace="~{fragments/CommonHeader :: CommonHeader}"></header>
<div class="menu-title">
    <h3> | &nbsp&nbsp&nbsp 상세보기 &nbsp&nbsp&nbsp |</h3>
</div>
<main class="d-flex flex-nowrap" style="background-color:#F3F3F3;">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 19%; height:100%;">
        <img th:src="|/files/${result.bookImage}|" onerror="this.src='/img/noImage.png'" width="230px" height="350px">
    </div>
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 79%; height:100%;">
        <span style="font-weight:bold; font-size:30px;" th:text="${result.bookTitle}"></span>
        <hr>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">작가&nbsp&nbsp</span>
            <span th:text="${result.bookAuthor}"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">출판사&nbsp&nbsp</span>
            <span th:text="${result.bookPublisher}"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">출간년도&nbsp&nbsp</span>
            <span th:text="${result.bookPublicationYear}"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">ISBN&nbsp&nbsp</span>
            <span th:text="${result.bookIsbn}"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">좋아요&nbsp&nbsp</span>
            <span th:text="${result.bookLike}"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">유통사&nbsp&nbsp</span>
            <span th:text="${result.bookDistributor}"></span>
        </div>
        <br>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">대출현황&nbsp&nbsp</span>
            <span th:text="|${result.bookLoanCnt}/${result.bookMaxLoanCnt}|"></span>
        </div>
        <div style="display:flex;">
            <span style="font-weight:bold; width:10%;">예약현황&nbsp&nbsp</span>
            <span th:text="|${result.bookReserveCnt}/${result.bookMaxReserveCnt}|"></span>
        </div>
        <br>
        <th:block sec:authorize="isAuthenticated()">
            <div style="display:flex;">
                <form id="likeData" action="/like/save" method="post">
                    <input type="hidden" id="bookIsbn" name="bookIsbn" th:value="${result.bookIsbn}">
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.name}">
                </form>

                <form id="likeCancelData" action="/like/delete" method="post">
                    <input type="hidden" id="bookIsbn" name="bookIsbn" th:value="${result.bookIsbn}">
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.name}">
                    <input type="hidden" id="_method" name="_method" value="DELETE" th:if="${like}">
                </form>

                <button th:if="${like}" type="button" style="margin-right:5px; border: none;" id="likeCancel">
                    <img src="/img/like.png" width="30px" height="30px" alt="">
                </button>

                <button th:unless="${like}" type="button" style="margin-right:5px; border: none;" id="like">
                    <img src="/img/heart.png" width="30px" height="30px" alt="">
                </button>

                <form id="loanData" action="/loan/save" method="post">
                    <input type="hidden" id="bookIsbn" name="bookIsbn" th:value="${result.bookIsbn}">
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.name}">
                </form>

                <form id="reserveData" action="/reserve/save" method="post">
                    <input type="hidden" id="bookIsbn" name="bookIsbn" th:value="${result.bookIsbn}">
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.name}">
                </form>

                <button th:if="${result.bookLoanCnt < result.bookMaxLoanCnt}" type="button" class="btn btn-primary" style="margin-right:5px;" id="loan">대출</button>
                <button th:if="${result.bookReserveCnt < result.bookMaxReserveCnt}" type="button" class="btn btn-primary" style="margin-right:5px;" id="reserve">예약</button>
            </div>
        </th:block>
    </div>
</main>
<div class="tab" style="width:100%;">
    <ul class="tabnav">
        <li><a href="#tab01">책 소개</a></li>
        <li><a href="#tab02">작가 소개</a></li>
        <li><a href="#tab03">목차</a></li>
    </ul>
    <div class="tabcontent">
        <div id="tab01">
            <h4>책 소개</h4>
            <hr>
            <span style="white-space:pre-wrap; font-size:17px; color:#676767;" th:text="${result.bookInt}"></span>
        </div>
        <div id="tab02">
            <h4>작가 소개</h4>
            <hr>
            <span style="white-space:pre-wrap; font-size:17px; color:#676767;" th:text="${result.bookAuthorInt}"></span>
        </div>
        <div id="tab03">
            <h4>목차</h4>
            <hr>
            <span style="white-space:pre-wrap; font-size:17px; color:#676767;" th:text="${result.bookIndex}"></span>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/CommonFooter :: commonFooter}"></footer>
<div th:replace="~{fragments/CommonLoading :: commonLoading}"></div>
</body>
</html>