<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/CommonHead :: commonHead(~{::meta},~{::script},~{::link},~{::style})}">
    <meta>
    <link>
    <style></style>
    <script th:inline="javascript">
    $(document).ready(function(){
         let pageNumber = [[${result.pageable.pageNumber}]];
         let totalPages = [[${result.totalPages}]];

         // 숫자 페이지
         $('.pageNum').click(function(){
             searchPage($(this).text() - 1);
         });

         // 이전 10 페이지
         $('.prev').click(function(){
             if(pageNumber == 0) {
                 alert('처음 페이지 입니다');
             } else {
                 searchPage(pageNumber - 1);
             }
         });

         // 이후 10 페이지
         $('.next').click(function(){
             if(pageNumber == totalPages - 1) {
                 alert('마지막 페이지 입니다');
             } else {
                  searchPage(pageNumber + 1);
             }
         });

         // 맨 처음
         $('.pprev').click(function(){
             searchPage(0);
         });

         // 맨 끝
         $('.nnext').click(function(){
             searchPage(totalPages - 1);
         });

         // 취소
         $('#cancel').click(function(){
            let userId = [[${#authentication.name}]];
            let bookIsbn = $(this).parent().parent().parent().data('bookisbn');
            let reserveId = $(this).parent().parent().parent().data('id');

            let form = document.createElement('form');
            let hiddenField1 = document.createElement('input');
            let hiddenField2 = document.createElement('input');
            let hiddenField3 = document.createElement('input');

            form.setAttribute('method', 'post');
            form.setAttribute('action', '/my/cancel');
            form.setAttribute('target', '_self');
            document.charset = "utf-8";

            hiddenField1.setAttribute('type', 'hidden');
            hiddenField1.setAttribute('name', 'userId');
            hiddenField1.setAttribute('value', userId);

            hiddenField2.setAttribute('type', 'hidden');
            hiddenField2.setAttribute('name', 'bookIsbn');
            hiddenField2.setAttribute('value', bookIsbn);

            hiddenField3.setAttribute('type', 'hidden');
            hiddenField3.setAttribute('name', 'reserveId');
            hiddenField3.setAttribute('value', reserveId);

            form.appendChild(hiddenField1);
            form.appendChild(hiddenField2);
            form.appendChild(hiddenField3);

            document.body.appendChild(form);

            $('.wrap-loading').removeClass('display-none');
            form.submit();
            return;
         });
     });

    // 조회
    function searchPage(pages) {
        $('.wrap-loading').removeClass('display-none');
        location.href = '/my/reserve?userId=' + [[${#authentication.name}]] + '&page=' + pages;
    }
    </script>
</head>
<body>
<header th:replace="~{fragments/CommonHeader :: CommonHeader}"></header>
<div class="menu-title">
    <h3> | &nbsp&nbsp&nbsp 내 서재 &nbsp&nbsp&nbsp |</h3>
</div>
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 15%; height:100%;  overflow:auto;">
        <table id="menu-table" class="table table-hover" style="font-size:15px; font-weight:bold; color:#71737A;">
            <thead>
            <th scope="col" style="text-align:center;">- 메뉴 -</th>
            </thead>
            <tbody>
                <tr th:onclick="|location.href='@{/my/loan(userId=${#authentication.name}, page=0)}'|">
                    <td>대출현황</td>
                </tr>
                <tr th:onclick="|location.href='@{/my/reserve(userId=${#authentication.name}, page=0)}'|">
                    <td>
                        예약현황
                    </td>
                </tr>
                <tr th:onclick="|location.href='@{/my/hope(userId=${#authentication.name}, page=0)}'|">
                    <td>
                        희망도서신청현황
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="inline-block" style="width:1%;">
    </div>
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 80%; height:100%; overflow:auto;">
        <table id="result-table" class="table">
            <tbody>
                <tr th:each="b: ${result.content}" th:data-bookisbn="${b.book.bookIsbn}" th:data-id="${b.reserveId}">
                    <td width="15%">
                        <img th:src="|/files/${b.book.bookImage}|" onerror="this.src='/img/noImage.png'" width="130px" height="200px">
                    </td>
                    <td width="85%">
                        <span style="font-weight:bold;" th:text="${b.book.bookTitle}"></span>
                        <br>
                        <span th:text="${b.book.bookAuthor}"></span>
                        &nbsp;|&nbsp;
                        <span th:text="${b.book.bookPublisher}"></span>
                        &nbsp;|&nbsp;
                        <span th:text="${b.book.bookPublicationYear}"></span>
                        <br><br>
                        <span style="font-weight:bold; color:#3CC484;">예약일자</span>
                        &nbsp;
                        <span th:text="${b.reserveDate}"></span>
                        <br><br>
                        <div style="display:flex;">
                            <button type="button" class="btn btn-primary btn-sm margin-left" id="cancel">예약 취소</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="page">
            <div class="page_wrap">
                <div class="page_nation">
                    <a class="arrow pprev">First</a>
                    <a class="arrow prev">&lt;</a>
                    <th:block th:if="${result.totalPages != 0}" th:each="num : ${#numbers.sequence(T(java.lang.Math).floor(result.pageable.pageNumber / 10) * 10 + 1, T(java.lang.Math).floor(result.pageable.pageNumber / 10) * 10 + 10 > result.totalPages ? result.totalPages : T(java.lang.Math).floor(result.pageable.pageNumber / 10) * 10 + 10)}">
                        <a class="active" th:if="${num == result.pageable.pageNumber+1}" th:text="${num}"></a>
                        <a class="pageNum" th:unless="${num == result.pageable.pageNumber+1}" th:text="${num}"></a>
                    </th:block>
                    <a class="arrow next">&gt;</a>
                    <a class="arrow nnext">Last</a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/CommonFooter :: commonFooter}"></footer>
<div th:replace="~{fragments/CommonLoading :: commonLoading}"></div>
</body>
</html>