<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/CommonHead :: commonHead(~{::meta},~{::script},~{::link},~{::style})}">
    <meta>
    <link>
    <script></script>
    <style></style>
</head>
<body>
<header th:replace="~{fragments/CommonHeader :: CommonHeader}"></header>
</body>
<script type="text/javascript">
    $(document).ready(function(){
      $('#logout').click(function(){
        location.href = "/logout";
      });
   });
</script>
</html>